@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


#nav-bar {
  /* customize this value. */
  --navbar-margin: 0px;

  margin-top: var(--navbar-margin);
  margin-bottom: 0;
  z-index: -100;
  transition: all 0.3s ease !important;
  opacity: 1;
}

/* remove line under tabbar */
#navigator-toolbox {
  border-bottom: none !important;
}

#navigator-toolbox:focus-within > #nav-bar
/* #navigator-toolbox:hover > #nav-bar */

{
  margin-top: 0;
  margin-bottom: var(--navbar-margin);
  z-index: 100;
  opacity: 1;
}

#alltabs-button {
    display: none;
}

.tab-text: {
	font-family: Fira Sans !important;
	color: rgb(250,0,100) !important;
	font-size: 14px !important;
	margin-top: 2px !important;
}

.tabbrowser-tab .tab-close-button {
  visibility: collapse !important;
}

.menupopup-arrowscrollbox {
  background-color: rgba(10,17,18,0.96) !important;
  color: rgb(150,150,150) !important;
  border: 0px !important;
  border-color: rgb(100,250,150) !important;
  border-radius: 0px !important;
  padding-left: 1px !important;
  padding-right: 1px !important;
/*  box-shadow: inset 0px 0px 1px 1px rgba(100,250,150,0.8) !important; */
}

menupopup > menu, menupopup > menuitem {
   padding: 6px !important;
   font-family: ubuntu !important;
   font-size: 13px !important;
}

menupopup > menu, menupopup > menuitem:hover{
   background-color: rgba(10,21,22,0.98) !important;
   box-shadow: inset 0px 0px 1px 1px rgba(100,250,150,0.85) !important; 
   border-radius: 0px !important;
   color: rgb(250,250,250) !important;
  
}
